<html>
	<head><title>{{ title }}</title></head>
	<body>
		<h1>{{ error }}</h1>
		<form action="" method="POST"> {% csrf_token %}
		<!-- <label for="oldpassword">Old Password</label>
		<input type="password" name="oldpassword" value="" />
		<label for="password1">New Password</label>
			<input type="password" name="password1" value="" />
		<label for="password2">Re-type New Password</label>
			<input type="password" name="password2" value="" /> -->
			{{ change_form.as_p}}
			<input type="submit" value="Update" />
		</form>
		
	</body>
</html>