{% extends 'base.html' %}
{% block child %}

<div class="jumbotron">
	<div class="container">
		<h3 class="title">Change Password</h3>
		<h5>Use the new password next time you log in to pitstop recharge online shopping.</h5>
	<p>
		
<h2 style="color:red;">{{ error }}</h2>
		<form action="" method="POST"> {% csrf_token %}

		 <table>
   		  <tr>
		   <td style="text-align:right;">{{ change_form.current_password.label }}: </td>
		    <td style="text-indent:10px;">{{ change_form.current_password }}</td>
		  </tr>

		   <tr>
		    <td style="text-align:right;">{{ change_form.new_password.label }}: </td>
		     <td style="text-indent:10px;"> {{ change_form.new_password }}</td>
		   </tr>

		   <tr>
		    <td style="text-align:right;">{{ change_form.renter_new_password.label }}: </td>
		     <td style="text-indent:10px;"> {{ change_form.renter_new_password }}</td>
		   </tr>

		<tr>
		    <td style="text-align:right;">
			<button type="submit" name="action" value="Update" style="background:none;border:none;">
				  <span class="save">Save</span> </button>
			</td>	

		    <td style="text-align:left;">
			<div>
			<button type="button" name="action" onclick="parent.history.back();" style="background:none;border:none;">
			    <span class="cancel">Cancel</span> </button>
				  <!-- <a class="btn btn-primary" onclick="parent.history.back();">Cancel</a> -->

			</div>	
		    </td>	
		</tr>

		</table>
			<!-- {{ change_form.as_p}}  -->

	
		</form>
	</p>
	</div>
</div>
{% endblock %}
