{% extends 'base.html' %}
{% block child %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/validationEngine.jquery.css" type="text/css" media="screen" title="no title"
charset="utf-8" />
<script src="{{ STATIC_URL }}js/vendor/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simpletip-1.3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/dd.css" />
<script src="{{ STATIC_URL }}js/vendor/jquery.dd.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skin2.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flags.css" />

<div class="jumbotron">
	<div class="container">
		<h3 class="title">Change E-mail</h3>
		<h5>Use the new e-mail address next time you log in to pitstop recharge online shopping.</h5>
		
		{% load filters %}
		<br>
	<p>
	
	<form  action="" id="form_email" method="POST" autocomplete="off">{% csrf_token %}
 <div style="color:red;">{{error}}</div>
		<table>
  		 <tr>
		   <td style="text-align:right;">Old E-mail address :</td>
		    <td style="text-indent:10px;">{{request.session.email}}</td>
		 </tr>

   		 <tr>
		  <td style="text-align:right;">New E-mail address: </td>
		   <td style="text-indent:10px;"> {{email_form.eml}}</td>
		 </tr>
			
		  <tr>
		   <td style="text-align:right;">Re-enter your New E-mail address: </td>
		    <td style="text-indent:10px;"> {{email_form.eml}}</td>
		  </tr>
	
		   <tr>
		    <td style="text-align:right;">Password: </td>
			<!--<td style="text-indent:10px;">{{email_form.password}}</td>  -->
		      <td style="text-indent:10px;" > <input type="password" value="" class="validate[required]"></td> 
		   </tr>
		   <tr>
		     <td style="text-align:right;">
			<div >
			 <button type="submit" name="action" value="Update" style="background:none;border:none;">
			  <span class="save">Save</span> </button>

  			 <button type="button" name="action" style="background:none;border:none;">
			 <a href="/user/settings" style="text-decoration: none;"><span class="cancel">Cancel</span></a></button>
			</div>
		     </td>	
		   </tr>

		</table>

	</form>
	</p>
	</div>
</div>
<script>
$("#id_eml").addClass("validate[required,custom[fname]]");
$(document).ready(function(e) {	

	 $("#form_email").validationEngine();
			        
});

</script>
{% endblock %}
