{% extends 'base.html' %}
{% block title %} <title>Pitstop | Update Cards </title>{% endblock %}
{% block child %}
{% load filters %}
{% load render_table from django_tables2 %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/validationEngine.jquery.css" type="text/css" media="screen" title="no title"
charset="utf-8" />
<script src="{{ STATIC_URL }}js/vendor/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simpletip-1.3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/dd.css" />
<script src="{{ STATIC_URL }}js/vendor/jquery.dd.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skin2.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flags.css" />

    <div class="container contup">
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    Update card details
                </h3>
            </div>
        </div> 
        {% if formset %}
        <form action="" method="POST" id="formUpdate">
            {%for form in formset.forms %}
            {{ form.id }}
            <p>
               <div class="row">
                    
                    <div class="col-lg-2">
                        {% if forloop.first %} {{ form.card_type.label_tag }} {% endif %} {{ form.card_type|styleclass:'input-group form-control' }}
                    </div> 
                    <!--div class="col-lg-3">
                       {% if forloop.first %} {{ form.card_flavour.label_tag }} {% endif %} {{ form.card_flavour|styleclass:'form-control' }}
                    </div-->  
                    <div class="col-lg-3">
                       {% if forloop.first %} {{ form.card_number.label_tag }} {% endif %} {{ form.card_number|styleclass:'form-control' }}
                    </div>
                     <div class="col-lg-2">
                        {% if forloop.first %} {{ form.upc_code.label_tag }} {% endif %} {{ form.upc_code|styleclass:'form-control' }}
                    </div>
                     <div class="col-lg-1">
                        {% if forloop.first %}{{ form.amount.label_tag }} {% endif %} {{ form.amount }}
                    </div>
               </div>
            </p>
            
               {% endfor %}
               <p>
                <div class="row">
                    <div class="col-lg-8">
                        <div style="float:right">                             
                            {{ formset.management_form }}
                            {% csrf_token %}
                           <a href="../cart/" class="btn btn-primary">Cancel</a></li>
                         
                            <button class="btn btn-primary" type="submit" name="action" value="save">Save Changes</button>
                        </div>
                    </div>
                </div>
               </p>
               </form>
        {% endif%}
        
    </div>

<script>
$(document).ready(function(e) {	

	$("#formUpdate").validationEngine();
	$(".positive").numeric({ negative: false }, function() { alert("No negative values"); this.value = ""; this.focus(); });			        
});

function doCancel(){
	window.location.href = '../cart/';
}


function validateamount(clicked_id){
   var float_val = $('#'+clicked_id).val();	
   var valid = (float_val.match(/^-?\d*(\.\d+)?$/));
   if(valid!=null){
	return true;
   }else{
	alert("Please enter valid amount");
	return false;
  }
  
}

</script>

{% endblock %}
