<div id="menu-wrap">
    <div id="menu">
        <ul>
            <li class="current"><a href="{{ url_for('home.index') }}">Home</a></li>
            <li><a href="{{ url_for('products.index') }}">Products</a></li>
            <li><a href="{{ url_for('gift_cards.index') }}">Gift Cards</a></li>
            <li><a href="{{ url_for('coupons.index') }}">coupons</a></li>
            <li><a href="{{ url_for('page_contents.faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('home.video_index') }}">Video Gallery</a></li>
            <li><a href="{{ url_for('page_contents.about_us') }}">About Us</a></li>
            <li><a href="{{ url_for('page_contents.contact') }}">Contact Us</a></li>
        </ul>
    </div><!-- menu ends here -->
</div>