.headerTop {
background-image: url({{ STATIC_URL }}images/menu/bg-top.png);
background-repeat: repeat-x;
width:600px;
height:20px;
margin-left:-420px;	
}

.nav-home{
background-image: url({{ STATIC_URL }}images/menu/bg-top.png);
background-repeat: repeat-x;
margin-top:-20px;
}
.nav-img{
background-image: url({{ STATIC_URL }}images/menu/bg-top.png);
background-repeat: repeat-x;
}
.noemail{
height:50px;
width:628px;
float:right;
background-repeat:no-repeat;
}	
.usermessage{
color:#DB3600;
width:20px;
text-align:right;
text-indent:40px;
margin-top:-5px;
}

.usermessagehic{
color:#DB3600;
width:20px;
text-align:right;
text-indent:40px;
margin-top:-5px;
}
.usermessageabt{
color:#DB3600;
width:20px;
text-align:right;
text-indent:40px;
margin-top:-5px;
}
.useremail{
color:gray;
margin-top:25px;
padding-right:12px;
width:auto;
margin-top:15px;
}
.leftline{
border-left:1px double black;
margin-top:0px;
height:30px;
}	
.cart-image{
height:45px;
margin-top:-10px;
}
.cartcount{
color:white;
margin-left:5px;
background-color:orange;
width:20px;
height:20px;
text-align:center;
margin-top:3px;
margin-top:-5px;
}
.cartlabel{
color:white;
margin-top:26px;
text-indent:-25px;
}
.cartlabelindex{
color:white;
margin-top:15px;
text-indent:-25px;
}
.logout {
    background-image: url("../images/menu/logout1.png");
    background-repeat: no-repeat;
    margin-left: 13px;
    margin-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height:45px;
    margin-top:-5px;
    position:fixed;
}
.logout:hover{
background-image: url('../images/menu/logouthover.png');
background-repeat: no-repeat;
padding: 5px 10px;
margin-top: 7px;
margin-top:-5px;
}
.logoutlabel{
color: gray;
margin-top:22px;
text-indent:-55px;
}
.smallbar-lefttop{
float:left;
margin-top:-5px;
width:80px;
background-image: url('../images/menu/bg-top.png');
height:13px;
margin-left:-250px;
}
.smallbar-righttop{
float:right;
margin-top:-5px;
width:100px;
background-image: url('../images/menu/bg-top.png');
height:13px;
margin-right:-80px;
}
.smallbar-lefttop-index{
float:left;
margin-top:-5px;
width:80px;
background-image: url('../images/menu/bg-top.png');
height:13px;
margin-left:-250px;
}
.smallbar-righttop-index{
float:right;
margin-top:-5px;
width:100px;
background-image: url('../images/menu/bg-top.png');
height:13px;
margin-right:-80px;
}

######### Batches Template Formatting #############

.tablescroll{
height:300px;
overflow-y: scroll;
}

.totalsdiv{
width:95%;
}
.servicecharges{
float: right;
border-top:1px solid #dddddd;
width:400px;
text-align:left;
margin-top:10px;
padding-left:121px;
}

#totalamount{
font-family:arial;
color:#A52A2A;
font-size:16px;
font-weight:bold;
width:400px;
}

#servicecharge{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
width:400px;
}

#gst{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
width:400px;
}

.contain{
clear:both;
width: 90%;
margin:auto
}

.proccedcheckout{
margin-left:5px;
}

######### ShopCart Template Formatting #############

.pagebox{
min-height: 640px
}

.carttable{
border-top:1px solid;
border-bottom:1px solid;
}

.cartitems{
border-top:1px solid;
border-bottom:1px solid; 
}

.item-cardflavour{
color:#6666FF;padding-bottom:32px;font-size:20px
}

.item-quantity{
padding-bottom:30px;
font-size:13px
}

.item-total{
margin-top:40px;
}

#item-amnt{
font-size:25px;
padding-bottom:25px;
}

.totaltab-contain{
width:95%;
}

.totalstab{
float: right;
border-top:1px solid #dddddd;
width:400px;
text-align:right;
margin-top:10px;
}

#ptotal-amnt{
font-family:arial;
color:#A52A2A;
font-size:16px;
font-weight:bold;
}

#p-service-chrge{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
}

#p-gst{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
}

.p-checkout{
margin-left:5px;
}

.shop-cont{
width:95%;
}

.cart-empty{
width:400px;
text-align:center;
margin-top:10px;
margin-left:400px;
}

#totalamounts{
font-family:arial;
color:#A52A2A;
font-size:16px;
font-weight:bold;
width:400px;
}


#servicecharges{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
width:400px;
}

#servicechargescart{
float: right;
border-top:1px solid #dddddd;
width:400px;
text-align:left;
margin-top:10px;
padding-left:40px;
}


#gsts{
font-family:arial;
color:#BDBCBC;
font-size:16px;
font-weight:bold;
width:400px;
}

######### WebPurchase Template Formatting #############

.contains{
min-height: 640px;
}

.messages{
color:red;
text-align:left;
}

.addcard-alignmnt{
margin-top:20px;
margin-left:40px;

}

######### UpdateCart Template Formatting #############

.contup{
min-height: 640px;
}

.text-center{
 text-align: center;
}

######### Settings Template Formatting #############


.child{float:left; margin-top:5px; margin-bottom:5px; height:33px; padding-left:15px; padding-right:15px; color:#b3b0b0; font-size:11px}
.childBorder{border-right:1px solid #000000}

.setting{background-image:url(../images/setting_org.png); background-repeat:no-repeat; background-position:center top}
.setting:hover{background-image:url(../images/setting-h.png);color:#ff6834;}
.topText{padding-top:15px;}

.greet{text-align:right; background-image:url(../images/bar.png); background-repeat:no-repeat; background-position:right; padding-right:20px}
.greet:first-line{text-transform:uppercase; color:#ff6834; }

.welcome{margin-top: -5px;margin-right: -10px;}
.greet_email{color:gray;margin-left:10px;margin-right: -10px;}

.setting_border_left{border-left:1px solid black;height:30px;margin-left:5px;}
.setting_text{
margin-left:5px;
margin-top:-3px;
}
.cart_left_border{border-left:1px solid black;height:30px;margin-left:5px;}
.logout_left{border-left:1px solid black;height:30px;margin-left:5px;}
.logout_text{margin-left:-35px;margin-top:2px;}
.curveR{margin-right:-60px;margin-top:-10px;}
#curveLeft{float:right; background-image:url(../images/menu/topbar_resized.png); background-repeat:no-repeat; width:550px;}
#curveRight{ width:57px; margin-right:-57px;margin-top:-8px;}

.save{
padding:2px 28px; 
background:#979797;
width:30px;
border-radius:25px;
color:white;
}

.cancel{
padding:2px 28px; 
background:#292929;
width:30px;
color:white;
}

.edit{
padding:2px 28px; 
background:#A247FF;
width:30px;
border-radius:25px;
color:white;

}

#old_email{
font-family:arial;
font-size:16px;
font-weight:bold;
}

#new_email{
font-family:arial;
font-size:16px;
font-weight:bold;
}

#password{
font-family:arial;
font-size:16px;
font-weight:bold;
}


